<launch>
    <arg name="is_calib" default="false" />

    <group if="$(arg is_calib)">
        <include file="$(find door_opening_utils)/launch/calibration.launch">
            <arg name="door_name" value="lab_pull" />
        </include>

        <node pkg="tf" type="static_transform_publisher" name="measure_doorway_center" args="0 -1.85 0 -3.1416 0 1.5708 tag_door_panel_center door_base 1" />
    </group>

    <group unless="$(arg is_calib)">
        <include file="$(find door_opening_utils)/launch/run_experiment.launch">
            <arg name="door_name" value="lab_pull" />
        </include>
    </group>

    
    <node pkg="tf" type="static_transform_publisher" name="measure_door_handle" args="-0.403 -0.811 0.075 0 0 0 tag_door_panel_center door_handle 1" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="measure_door_handle" args="-0.433 -0.831 0.075 0 0 0 tag_door_panel_center door_handle 1" /> tuning for opening -->

</launch>