<launch>

    <node name="arm_joint_vel_plot" pkg="rqt_multiplot" type="rqt_multiplot" args="--multiplot-run-all --multiplot-config $(find door_opening_utils)/rqt_multiplot/arm_joint_velocities.xml" />
    <node name="arm_command_plot" pkg="rqt_multiplot" type="rqt_multiplot" args="--multiplot-run-all --multiplot-config $(find door_opening_utils)/rqt_multiplot/arm_commanded_position.xml" />

</launch>