<launch>
  <arg name="device" default="/dev/video2" />
  <arg name="width" default="640" />
  <arg name="height" default="360" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="$(arg device)" />
    <param name="image_width" value="$(arg width)" />
    <param name="image_height" value="$(arg height)" />
    <param name="pixel_format" value="uyvy" />  <!-- this is important -->
    <param name="color_format" value="yuv422p" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="30" />
  </node>

  <node name="image_undistort_node" pkg="image_undistort" type="image_undistort_node">
    <param name="input_camera_namespace" value="usb_cam"/>      
    <param name="input_camera_info_from_ros_params" value = "true"/>    
    <param name="scale" value="1.0"/>
    <param name="output_camera_info_source" value="match_input"/>
    <rosparam file="$(find door_opening_utils)/config/cam_calib/usb_cam_calib_$(arg width)x$(arg height).yaml"/>
    <remap from="input/image" to="usb_cam/image_raw"/>
    <remap from="output/image" to="usb_cam/undistorted/image" />
    <remap from="output/camera_info" to="usb_cam/undistorted/camera_info" />
  </node>
</launch>